body {
    background: black;
    color: floralwhite;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 1px;
    padding:20px;
    font-size: 32px;
    color:darkslategray;
}

section{
    background: darkslategray;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40;
}

p{
    font-size: 20;;
}